header
{
    text-align: center;
    background-color: rgba(180, 20, 46, 0.671);
}

.gcs-logo
{
    padding-left: 20px;
}

.gcs-logo img
{
    width: 40px;
}

.gcs-icons-header-and-login li
{
    padding: 20px;
    margin-right: 10px;
}

.gcs-icons-header-and-login li i
{
    cursor: pointer;
}

.gcs-apretation-info
{
    margin-top: 10%;
}

.gcs-text-info
{
    margin-top: 30px;
    flex-direction: column;
}

.gcs-image-info
{
    margin-left: 40%;
}

.gcs-triangle-btn
{
    margin-top: 15%;
}

.gcs-triangle-btn img
{
    cursor: pointer;
}

.gcs-container-cards-products img
{
    width: 100px;
    height: 100px;
}

.gcs-container-cards-products
{
    margin-top: 40%;
    gap: 10%;
}

.gcs-card
{
    width: 300px;
    height: 500px;
    border: 2px solid white;
    border-radius: 30px;
    flex-direction: column;
    gap: 30px;
}

.gcs-btn-details
{
    color: white;
}

.gcs-btn-add-cart
{
    color: white;
}

.gcs-card img
{
    width: 200px;
    height: 200px;
}

.gcs-card-btns
{
    width: 190px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    gap: 40px;
}

.gcs-title-product
{
    font-size: 25px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gcs-card-btns button i
{
    cursor: pointer;
}

.gcs-line
{
    font-size: 30px;
}

.gcs-container-services
{
    height: 100vh;
}

.gcs-services
{
    width: 50%;
    height: 50%;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10% 0 10% 0;
}